/* body {
    background-color: black;
    color: whitesmoke;

}
#inputFrom {
    width: 8cm;
    height: 5cm;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: black;
    border: 2px solid yellowgreen;
    color: white;
}
#inputTo {
    width: 8cm;
    height: 5cm;
    border-radius: 1rem 1rem 1rem 1rem;
    background-color: black;
    border: 2px solid yellowgreen;
    color: white;
}

#buttonTranslate{
    background-color: black;
    color: turquoise;
    border: 1px solid turquoise;
    margin: 0% 2%;
} */
#buttonTranslate {
    padding: 15% 5%;
    margin: 10% 10%;
}